
.font-dosis{
    font-family: 'Dosis',sans-serif;
    letter-spacing:2px;
}
.login-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo-img{
    max-width:160px
}

.form-control{
    background: transparent;
    color: white;
}

.form-control:focus{
    background: transparent;
   color: rgb(31, 31, 31);
}

.login-container{
    width: 400px;
    height: 450px;
    border: 1px solid #C29963;
    border-radius: 10px;
    padding:30px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.041),rgba(255, 255, 255, 0.250));
}
.text-color{
    color: rgb(41, 41, 41)
}

.login-btn{
    border-radius: 20px;
}
.login-btn:hover{
        background: rgb(255, 255, 255) !important;
        box-shadow: 0px 0px 20px #0f0f0f23;
        border: 1px solid #0f0f0f1c;
}

.login-link{
    color: rgb(41, 41, 41);
    text-decoration: none;
    cursor: pointer;
}

.login-link:hover{
    color: rgba(41, 41, 41, 0.377);
}
::placeholder{
    color: rgba(255, 255, 255, 0.87);
}

.circle{

    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: white;
    position: absolute;
    opacity: 0.1;
    bottom: 150px;
    left: 15px;
    filter: blur(50px);
}

@media (max-width:324px){
    .logo-img{
        width: 100px;
    }
}